[Unit]
Description=Fedora Toolbox for your distrobox fun

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox assemble create --file %h/.config/systemd/user/distrobox.ini -n femacs
ExecStart=/usr/bin/distrobox enter femacs
RemainAfterExit=true

[Install]
WantedBy=multi-user.target default.target
