[Desktop Entry]
Name=Emacs Everywhere (on femacs)
GenericName=Text Editor (on femacs)
Comment=Edit text
Exec=/usr/bin/distrobox-enter  -n femacs  --   emacsclient --eval "(emacs-everywhere)"
Icon=/var/home/kwalerie/.config/doom/assets/doomstache.png

: MimeType=text/org
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs
